In [ ]:
# Import libraries:

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
# Load dataset

In [10]:
CSV_PATH = 'dataset/clean_house_l5_dataset.csv'
df = pd.read_csv(CSV_PATH)

print("Dataset Shape:", df.shape)
df.head(5)

Dataset Shape: (99, 13)

,Size_sqft,Bedrooms,Bathrooms,YearBuilt,Price,Location_City,Location_Rural,Location_Suburb,HouseAge,Rooms_per_1000sqft,Size_per_Bedroom,Is_City,LogPrice
0,1.030281,-1.463643,0.088986,-1.279342,812100.0,1,0,0,1.279342,-1.061465,3.123085,1,13.607380
1,-0.482463,-1.463643,1.347506,1.326476,547000.0,1,0,0,-1.326476,-0.265637,1.309520,1,13.212206
2,0.468877,0.007430,-1.169534,-1.339942,693700.0,1,0,0,1.339942,-0.689547,-0.163970,1,13.449796
3,1.079817,0.742966,1.347506,-0.915740,848300.0,1,0,0,0.915740,-0.199111,-0.307614,1,13.650991
4,0.788954,1.478502,-1.169534,0.962873,806000.0,0,0,1,-0.962873,-0.311002,-0.610027,0,13.599840

In [ ]:
# Prepare features and target

In [11]:
X = df.drop(columns=['Price', 'LogPrice'])
y = df['Price']

In [ ]:
# Split Data

In [16]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

Train shape: (79, 11), Test shape: (20, 11)

In [ ]:
# Train Linear Regression

In [17]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

In [ ]:
# Train Random Forest

In [18]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)

In [19]:
# Evaluate both models

In [21]:
print_metrics("Linear Regression", y_test, lr_pred)
print_metrics("Random Forest", y_test, rf_pred)

Linear Regression Performance:
  R²   : 0.848
  MAE  : 63,086
  MSE  : 5,718,940,941
  RMSE : 75,624

Random Forest Performance:
  R²   : 0.859
  MAE  : 52,524
  MSE  : 5,283,317,455
  RMSE : 72,686

In [ ]:
# Single-row Sanity Check

In [22]:
i = 2
x_one = X_test.iloc[[i]]
y_true = y_test.iloc[i]

p_lr = float(lr.predict(x_one)[0])
p_rf = float(rf.predict(x_one)[0])

In [23]:
print("\nSingle-row Sanity Check:")
print(f"  Actual Price: ${y_true:,.0f}")
print(f"  LR Pred     : ${p_lr:,.0f}")
print(f"  RF Pred     : ${p_rf:,.0f}")

Single-row Sanity Check:
  Actual Price: $292,500
  LR Pred     : $188,637
  RF Pred     : $290,899